@page "/add-question"
@inject IQuestionManager questionManager;

<MudPaper>
    <MudContainer>
        <MudPaper>
            <MudGrid>
                <MudItem xs="12" md="6" lg="6">
                    <MudItem xs="12">
                        <MudImage style="max-height: 230px; max-width: 300px;" Src="@base64ImageQuestion" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudButton OnClick="TakePhotoQuestion">Soru Ekle</MudButton>
                    </MudItem>
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <MudItem xs="12">
                        <MudImage style="max-height: 200px; max-width: 300px" Src="@base64ImageAnswer" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudButton OnClick="TakePhotoAnswer">Cevap Ekle</MudButton>
                    </MudItem>
                </MudItem>
                
                
                <MudItem xs="12">
                    <MudTextField T="string" Label="Açıklama" Variant="Variant.Outlined" @bind-Text="@description" Lines="3" />
                </MudItem>
                <MudItem xs="12">
                    <MudButton OnClick="Save" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Medium">Kaydet</MudButton>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudContainer>
</MudPaper>
@*<div class="container">
    <div class="row m-2">
        <div class="row m-2">
            <img style="height: 200px; width: 300px" src="@base64ImageQuestion" />
        </div>
        <div class="row m-2">
            <InputFile OnChange="OnInputFileChangeQuestion" />
        </div>
        <div class="row m-2 ">
            <img style="height: 200px; width: 300px" src="@base64ImageAnswer" />
        </div>
        <div class="row m-2">
            <InputFile OnChange="OnInputFileChangeAnswer" />
        </div>
    </div>
        
    <div class="row m-2">
        <h4>Açıklama</h4>
        <input type="text" @bind-value="description" />
    </div>

   @if(saved==true){
         <div class="alert alert-success row m-2"  role="alert">
       Soru kayıt edildi. 
    </div>
   }
   @if(errors!=""){

        <div class="alert alert-warning" role="alert">
            @errors
        </div>
    }
    

    <div class="row m-2">
        <div class="col">
            <button class="btn btn-success" type="button" @onclick="Save">Kaydet</button>
        </div>
    </div>
</div>*@

@code {
    String base64ImageQuestion = "";
    String base64ImageAnswer = "";
    String description = "";
    bool saved = false;
    string errors = "";

    private async Task TakePhotoQuestion()
    {
        base64ImageQuestion = await BrowserFileTool.TakePhotoAndConvertBase64();
        await InvokeAsync(() => StateHasChanged());
    }
    private async Task TakePhotoAnswer()
    {
        base64ImageAnswer = await BrowserFileTool.TakePhotoAndConvertBase64();
        await InvokeAsync(() => StateHasChanged());
    }

    private async Task Save()
    {
        saved = false;
        errors = "";

        var question = new Question();
        question.Description = description;
        question.Photo = Base64Tool.ToByteArray(base64ImageQuestion);
        question.AnswerPhoto = Base64Tool.ToByteArray(base64ImageAnswer);

        if (description == "" || base64ImageQuestion == "" || base64ImageAnswer ==""){
            errors = "Lütfen girdileri kontrol ediniz!";            
            return;
        }

        questionManager.Add(question);        
        saved = true;
        base64ImageQuestion = "";
        base64ImageAnswer = "";
        description = "";
          
        await InvokeAsync(() => StateHasChanged());
        await Task.CompletedTask;
    }
}
